In [1]:
Text="I am learning NLP"

In [2]:
import pandas as pd
pd.get_dummies(Text.split())

   I  NLP  am  learning
0  1    0   0         0
1  0    0   1         0
2  0    0   0         1
3  0    1   0         0

In [3]:
text=["i love NLP nad i will learn NLP in 2momths"]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
vectorizer.fit(text)
vector=vectorizer.transform(text)

In [5]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 3, 'nlp': 5, 'nad': 4, 'will': 6, 'learn': 2, 'in': 1, '2momths': 0}
[[1 1 1 1 1 2 1]]

In [6]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [7]:
CountVectorizer?

In [8]:
df=pd.DataFrame(data=vector.toarray(),columns=vectorizer.get_feature_names_out())
df

   2momths  in  learn  love  nad  nlp  will
0        1   1      1     1    1    2     1

In [9]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\gunda\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\gunda\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: tqdm in c:\users\gunda\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.64.1)
Requirement already satisfied: click in c:\users\gunda\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\users\gunda\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\gunda\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2022.7.9)
Requirement already satisfied: colorama in c:\users\gunda\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [10]:
text='I am learning NLP'

In [19]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\gunda\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [20]:
from textblob import TextBlob
TextBlob(text).ngrams(1)

[WordList(['I']), WordList(['am']), WordList(['learning']), WordList(['NLP'])]

In [21]:
TextBlob(text).ngrams(2)

[WordList(['I', 'am']),
 WordList(['am', 'learning']),
 WordList(['learning', 'NLP'])]

In [22]:
from textblob import TextBlob
TextBlob(text).ngrams(1)

[WordList(['I']), WordList(['am']), WordList(['learning']), WordList(['NLP'])]

In [23]:
TextBlob(text).ngrams(3)

[WordList(['I', 'am', 'learning']), WordList(['am', 'learning', 'NLP'])]

In [24]:
Text=["The quick brown fox jumped over the lazy dog.","The dog.","The fox"]

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer()
vectorizer.fit(Text)
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}
[1.69314718 1.28768207 1.28768207 1.69314718 1.69314718 1.69314718
 1.69314718 1.        ]